/*
html {
    overflow: hidden;
    height: 100%;
}
*/
body {
    overflow: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif !important;
}
header {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    font-weight: lighter;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1em;
}
nav ul li a:hover {
    color: #FB7D06;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#presentation-container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: 10vh;
}
#presentation {
    display: flex;
    flex-direction: row;
    width: 50vw;
    align-items: center;
}
#presentation-logo-div {
    width: 25%;
}
#head1 {
    font-weight: 100;
    font-size: 3.5em;
    margin: 0;
    line-height: 1em;
    color: #FB7D06;
}
#head2 {
    font-weight: 700;
    font-size: 5em;
    margin: 0;
    line-height: 1em;
}
#head3{
    font-weight: 700;
    font-size: 4em;
    margin: 0;  
    line-height: 1em;
}
#head4 {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-top: .5em;
    color: #9D9D9D;
    letter-spacing: .1em;
}
#description {
    margin: 0;
}
.down-button-container{
    display: flex;
    justify-content: center;
    margin-block: 3vh;
}
.down-button {
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.3s ease-in-out;
}
.down-button:hover {
    opacity: 100%;
}
#index {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.box{
    height: 50vh;
    width: 50vw;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}
.box-inner-container{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 100%;
}
.box-inner-background{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-inner-fade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    z-index: 1;
}
.box-inner-fade:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.box-inner-text:hover ~ .box-inner-fade{
    background-color: rgba(0, 0, 0, 0.3);
}
.box-inner-text{
    position: absolute;
    color: #FFFFFF ;
    font-size: 3em;
    font-weight: 700;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#upButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que el SVG esté por encima de otros elementos */
    cursor: pointer;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease-in-out; /* Transición suave de opacidad */
}
#upButton.show {
    opacity: 50%; /* El SVG será completamente visible cuando se aplique esta clase */
    z-index: 1000;
}
#upButton:hover {
    opacity: 100%;
}
.banner-section {
    position: relative;
    display: inline-block;
    width: 100vw;
    margin-bottom: 8vh;
    text-align: center;
    z-index: 2;
}
.banner-base {
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover; /* Para cubrir el contenedor sin deformar */
}
.banner-fade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#ccdoc-banner-overlay {
    position: absolute;
    top: 80%;       /* Centrado vertical */
    left: 93%;      /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Para ajustar el centro exacto */
    width: 10%;   /* Tamaño de la imagen que va encima */
    height: auto;
    z-index: 2;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFFFFF;
    font-size: 5em;
    font-weight: 700;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
}
.title-1-container {
    margin-bottom: 8vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.title-1-div {
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.title-2-container {
    display: inline-block;
    align-items: center;
    width: auto;
    background-color: #2098CC;
    border-radius: 0 35px 35px 0;
}
.title-2-div {
    margin-block: 2vh;
    margin-left: 20vw;
    margin-right: 1.5vw;
}
.title-2-text {
    font-weight: 600; 
    font-size: 2em; 
    font-style: italic; 
    color: #FFFFFF;
}
.title-4 {
    display: flex;
    margin-left: 8vw;
}
.title-4-left {
    font-size: 4em; 
    color: #22A092; 
    font-weight: 600;
}
.title-4-right {
    font-size: 3em; 
    margin-top: 2vh; 
    margin-left: .7vw; 
    font-weight: 600; 
    letter-spacing: 0.01em;
}
.description-section {
    margin-inline: 11vw;
    margin-top: 3vh;
    margin-bottom: 8vh;
    text-align: justify;
}
.description-text {
    font-weight: 300;
    font-size: 1.5em;
}
#ccdoc-idfa-catalog-section{
    display: flex;
    justify-content: space-between;
    width:78vw;
    margin-inline: 11vw;
    margin-bottom: 5vh;
    gap: 2vw;
}
.carousel-indicators{
    margin-bottom: 1vh !important;
}
#ccdoc-idfa-catalog-left-carousel, #ccdoc-idfa-catalog-right-carousel {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.carousel-item {
    display: flex !important;
}
.content-a{
    width: 78vw;
    margin-inline: 11vw;
    margin-bottom: 5vh;
}
#ccdoc-idfa-rrss-1-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  /* Centra el contenido de las columnas verticalmente */
    margin-inline: 11vw;
    margin-bottom: 5vh;
    gap: 2vw;
}
#ccdoc-idfa-rrss-1-div-1 {
    flex:1; 
    align-items: center;
    text-align: right; 
    justify-content: right;
}
#ccdoc-idfa-rrss-1-div-1 span{
    font-weight: 500; 
    font-size: 1.2em;
}
#ccdoc-idfa-rrss-1-div-2 {
    flex:6;
}
#ccdoc-idfa-rrss-1-div-2 img{
    display: block; 
    width: 100%;
}
#ccdoc-idfa-rrss-1-div-3 {
    flex: 2;
}
#ccdoc-idfa-rrss-1-div-3 span {
    font-weight: 500; 
    font-size: 1.2em;
}
#ccdoc-idfa-rrss-1-div-3 img {
    margin-top: 3vh;
    display: block; 
    width: 100%;
}
#ccdoc-idfa-rrss-2-section {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-inline: 11vw;
    margin-bottom: 8vh;
}
#ccdoc-idfa-rrss-2-div-2 {
    display: flex;
    gap: 2vw;
    flex-direction: row;
}
#ccdoc-conecta-rrss-section {
    align-items: center;
    margin-inline: 11vw;
    margin-block: 8vh;
}
#ccdoc-conecta-credentials-section {
    margin-inline: 11vw;
    margin-block: 8vh;
    display: flex;
    flex-direction: row;
    gap: 3vw;
}
#ccdoc-conecta-credentials-section div {
    width: 24vw;
    display: flex;
}
#ccdoc-conecta-credentials-section div img {
    width: 100%;
}
#ccdoc-conecta-diplomas-catalog-section{
    margin-bottom: 5vh;
}
.preview-container {
    display: flex; /* Usamos Flexbox para que los elementos estén alineados en una fila */
    justify-content: center; /* Centra los elementos dentro del contenedor */
    text-align: center;
    align-items: flex-start; /* Alinea los elementos al principio verticalmente */
    margin: 0 auto; /* Añadimos margen de 8vw a ambos lados */
    width: 65vw; /* Ajustamos el ancho para que el contenedor ocupe el espacio restante */
    margin-bottom: 3vh;
    gap: 1vw;
}
/* Estilos para el div de la izquierda */
.preview {
    width: 78.39%; /* Este div ocupará el 50% del ancho disponible */
}
/* Estilo para la galería dispuesta en columna */
.vertical-gallery {
    display: flex;
    flex-direction: column; /* Disposición en columna */
    gap: 1.5vh; /* Aplica el margen a los lados de la galería */
    width: 21.61%; /* La galería ocupará el 40% del ancho */
}
/* Estilo para los items de la galería */
.vertical-gallery-item {
    width: 100%; /* Las imágenes ocuparán todo el ancho disponible */
}
/* Estilos de las imágenes */
.vertical-gallery-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.vertical-gallery-image.scaled {
    transform: scale(1.1);
}
.vertical-gallery-image.clicked {
    transform: scale(1.6);
}
.horizontal-gallery {
    display: flex;
    gap: 10px;
    margin: 0 auto; /* Añadimos margen de 8vw a ambos lados */
    width: 65vw; /* Ajustamos el ancho para que el contenedor ocupe el espacio restante */
    justify-content: center;
    margin-bottom: 5vh;
}
.horizontal-gallery-item {
    width: 33%;
}
.horizontal-gallery-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.horizontal-gallery-image.scaled {
    transform: scale(1.05);
}
.horizontal-gallery-image.clicked {
    transform: scale(1.2);
}
#ccdoc-conecta-pantallas-section {
    display: flex;
    flex-direction: column;
    margin-inline: 11vw;
    margin-block: 8vh;
}
#ccdoc-conecta-pantallas-div-1 {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    margin-bottom: 5vh;
}
#ccdoc-conecta-pantallas-div-1 div {
    width: 24vw;
}
#ccdoc-conecta-pantallas-div-1 div img{
    width: 100%
}
#ccdoc-conecta-pantallas-div-2 {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-bottom: 5vh;
}
#ccdoc-conecta-pantallas-div-2 div {
    width: 23vw;
}
#ccdoc-conecta-pantallas-div-2 div img{
    width: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.legend{
    text-align: center;
    font-weight: 200;
    font-size: large;
}
#ccdoc-conecta-programa-section{
    display: flex;
    margin-bottom: 5vh;
    justify-content: center;
    width: 60vw;
    margin-inline: 20vw;
}
.highlight {
    transform: scale(1.05);
}
.magnifying-glass {
    display: flex;
    width: 100%;
    background: black;
}
.magnifying-glass__img {
    width: 100%;
}
.magnifying-glass__magnifier {
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    overflow: hidden;
    width: 15vw;
    height: 15vw;
    border: 10px black;
    border-radius: 50%;
    background-color: transparent;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s ease;
}
.magnifying-glass__enlarged-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
}
.subsection-hr{
    text-align: center; 
    opacity: 10%; 
    margin-inline: 11vw; 
    width: 78vw;
    margin-bottom: 5vh;
}
#watermark-section {
    position: fixed; 
    z-index: 1; 
    right: 2.8vw;
    top: 40%;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
#watermark-div {
    transform: rotate(90deg);
    transform-origin: top right;
    white-space: nowrap; 
}
#miradoc-banner-overlay{
    position: absolute;
    top: 50%;       /* Centrado vertical */
    left: 50%;      /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Para ajustar el centro exacto */
    width: 50%;   /* Tamaño de la imagen que va encima */
    height: auto;
    z-index: 2;
}
.box-inner-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.box-inner-logo:hover ~ .box-inner-fade{
    background-color: rgba(0, 0, 0, 0.3);
}
#lakioska-banner-overlay{
    position: absolute;
    top: 57%;       /* Centrado vertical */
    left: 50%;      /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Para ajustar el centro exacto */
    width: 30%;   /* Tamaño de la imagen que va encima */
    height: auto;
    z-index: 2;
}
#lakioska-manual-1-section {
    width: 78vw;
    margin-inline: 11vw; 
    display: flex; 
    justify-content: center;
    margin-bottom: 5vh;
}
#lakioska-manual-carousel {
    display: flex;
    width: 100%;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #465953;
    height: 25vh;
}
#footer-content {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    height: 100%;
    font-weight: 400;
    color: #FFFFFF;
    padding-block: 5vh;
}
#footer-left {
    justify-content: start;
    text-align: left;
}
#footer-center {
    display: flex;
    align-items: end;
    text-align: center;
}
#footer-center span a{
    color: #FFFFFF;
    text-decoration: none;
}
#footer-center span a:hover{
    color: #FFFFFF;
    text-decoration-line: underline;
}
#footer-right {
    display: flex;
    gap: 1vw;
    justify-content: end;
    text-align: right;
}
#footer-right a{
    width: 2.5vw;
    height: 2.5vw;
}
.contact-icon {
    width: 2.5vw;
}
@media (max-width: 768px) {
    #upButton{
        width: 5vw;
        right: 3vw;
    }
    #presentation{
        justify-content: center;
        text-align: center;
        margin-block: 10vh;
        margin-inline: 0;
        padding-inline: 10vw;
    }
    #head4{
        margin-top: 2vh;
    }
    #description{
        margin-top: 5vh;
    }
    .box-inner-text{
        font-size: 2em;
        width: 80%;
    }
    .banner-section {
        position: relative;
        width: 100vw;
        height: 30vh;
        margin-bottom: 5vh;
    }
    .banner-base{
        height: 100%;
        object-fit: cover;
    }
    .banner-text{
        font-size: 2.5em;
        width: 90%;
    }
    #miradoc-banner-overlay{
        height: 60%;
        width: auto;
    }
    #lakioska-banner-overlay{
        height: 60%;
        width: auto;
    }
    #watermark-section{
        top:50%;
    }
    .title-1-container{
        margin-bottom: 5vh;
    }
    .title-1-div{
        height: 10vh;
    }
    .title-1-div img{
        max-height: 80% !important;
    }
    .title-1-div span:first-of-type{
        font-size: .75em !important;
    }
    .title-1-div span:last-of-type{
        font-size: 1.5em !important;
    }
    .title-4{
        margin-left:5.1vw;
        margin-block:2vh;
    }
    .title-4-left{
        font-size: 2.5em !important;
    }
    .title-4-right{
        font-size: 1.8em;
        margin-top: 1vh;
    }
    .description-section{
        margin-inline: 10vw;
        margin-top: 0;
        margin-bottom: 4vh;
    }
    .description-text {
        margin-top: 0;
        padding-block: 0;
    }
    #ccdoc-idfa-catalog-section{
        flex-direction: column;
        gap: 3vh;
        width: 80vw;
        margin-inline: 10vw;
        margin-bottom: 0;
    }
    .carousel-indicators{
        margin-bottom: 0 !important;
    }
    .content-a{
        width: 80vw;
        margin-inline: 10vw;
        margin-block: 3vh;
    }
    #ccdoc-idfa-rrss-1-section{
        flex-direction: column;
        text-align: left;
        justify-content: left;
        margin-inline: 10vw;
        gap: 3vh;
    }
    #ccdoc-idfa-rrss-1-div-1{
        text-align: left;
        width: 100%;
    }
    #ccdoc-idfa-rrss-1-div-3 img{
        margin-top: 3vh;
        display: flex; 
        width: 100%;
    }
    #ccdoc-idfa-rrss-2-section{
        width: 80vw;
        margin-inline: 10vw;
        gap: 3vh;
    }
    #ccdoc-idfa-rrss-2-div-2{
        flex-direction: column;
        gap: 3vh;
    }
    #ccdoc-conecta-rrss-section {
        align-items: center;
        margin-inline: 10vw;
        margin-block: 3vh;
    }
    #ccdoc-conecta-rrss-section div span {
        font-weight: 500; 
        font-size: 1.2em;
    }
    #ccdoc-conecta-rrss-section div img {
        width: 100%;
        margin-top: 3vh;
    }
    #ccdoc-conecta-credentials-section{
        margin-block: 3vh;
        margin-inline: 10vw;
        flex-direction: column;
        gap: 3vh;
    }
    #ccdoc-conecta-credentials-section div{
        width: 80vw;
        display: flex;
    }
    #ccdoc-conecta-pantallas-section {
        display: flex;
        flex-direction: column;
        margin-inline: 10vw;
        margin-block: 3vh;
    }
    #ccdoc-conecta-pantallas-div-1 {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    #ccdoc-conecta-pantallas-div-1 div {
        width: 80vw;
    }
    #ccdoc-conecta-pantallas-div-2 {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        margin-bottom: 3vh;
    }
    #ccdoc-conecta-pantallas-div-2 div {
        width: 80vw;
    }
    #ccdoc-conecta-pantallas-div-2 div img{
        width: 100%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }
    #ccdoc-conecta-programa-section{
        width: 80vw;
        margin-inline: 10vw;
    }
}